/****************************************** FOOTER-DISTRIBUTED.CSS *****************************************/
.footer-distributed {
    background: #292c2f; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(90deg, #222427, #292c2f, #222427); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(90deg, #222427, #292c2f, #222427); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(90deg, #222427, #292c2f, #222427); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #222427, #292c2f, #222427); /* Standard syntax */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: rgb(108, 111, 114);
    font-size: 14px;
    margin: 0;
	font-family: Montserrat, "Open Sans", san-serif;
}

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-right {
    margin-top: 6px;
    max-width: 540px;
    text-align: center;
    margin: 0 auto 20px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    margin-bottom: 6px;
}

.footer-right a:hover {
    color: #FFD717;
}

@media(max-width:600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

@media(max-width:820px) {
    .footer-distributed {
        margin-top: 0;
    }
}